{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ category.name }} | Shirin's Boutique</title>

    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<section class="products-page">

    <h1>{{ category.name }}</h1>

    <div class="products-container">

        {% for product in products %}

        <div class="product-card">

            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>

            <p>₹ {{ product.price }}</p>

            <a href="/add-to-cart/{{ product.id }}/">
   
                <button>Add to Cart</button>

            </a>

        </div>

        {% endfor %}

    </div>

</section>

</body>
</html>