{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shirin's Boutique</title>

    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


<!-- NAVBAR -->

<div class="navbar">

    <div class="right-nav">

        <!-- SEARCH -->

        <a href="/search/" class="search-icon">⌕</a>


        <!-- WISHLIST -->

        <a href="/wishlist/" class="nav-icon">Wishlist</a>


        <!-- CART -->

        <a href="/cart/" class="nav-icon">Cart</a>


        <!-- MENU -->

        <div class="menu">

            ☰

            <div class="dropdown">

                <div class="submenu">

                    <a href="#">Collections ▸</a>

                    <div class="submenu-content">

                        <a href="/category/Sarees/">Sarees</a>

                        <a href="/category/Lehengas/">Lehengas</a>

                        <a href="/category/Shararas/">Shararas</a>

                        <a href="/category/Salwar Suits/">Salwar Suits</a>

                        <a href="/category/Indo Western/">Indo Western</a>

                        <a href="/category/Gown Sets/">Gown Sets</a>

                        <a href="/category/Blazer Attires/">Blazer Attires</a>

                        <a href="/category/Bridal Collection/">Bridal Collection</a>

                    </div>

                </div>

                <a href="#">Best Sellers</a>

                <a href="#">Track Order</a>

                <a href="#">Order History</a>

            </div>

        </div>

    </div>

</div>


<!-- HERO SECTION -->

<section class="hero">

    <div class="overlay">

        <h1>Shirin's Boutique</h1>

        <p>Where elegance meets tradition</p>

    </div>

</section>


<!-- PRODUCTS SECTION -->

<section class="products-section">

    <h2>Saree Collection</h2>

    <div class="products-container">

        {% for product in products %}

        <div class="product-card">

            {% if product.image %}

            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">

            {% endif %}

            <h3>{{ product.name }}</h3>

            <p>₹ {{ product.price }}</p>

            <a href="/add-to-cart/{{ product.id }}/">

                <button>Add to Cart</button>

            </a>

        </div>

        {% endfor %}

    </div>

</section>


</body>
</html>