body {
    margin: 0;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* TEXT */
.content {
    color: #f5e6d3;
    z-index: 2;
}

.content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    letter-spacing: 1px;
    margin: 0;
}

.content p {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-top: 12px;
    font-style: italic;
}

/* LOGO */
.logo {
    position: absolute;
    top: 18px;
    left: 30px;
    height: 110px;
    width: auto;
    z-index: 3;
}
/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 10;
}

/* RIGHT SIDE */
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-right a {
    text-decoration: none;
    color: #f5e6d3;
    font-size: 16px;
    font-family: 'Lora', serif;
}

/* MENU */
.menu {
    position: relative;
    cursor: pointer;
    color: #f5e6d3;
    font-size: 22px;
}

/* DROPDOWN */
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #7a1f1f;
    padding: 10px;
    border-radius: 6px;
    min-width: 160px;
}

.dropdown a {
    display: block;
    padding: 8px;
    color: #fff;
}

.menu:hover .dropdown {
    display: block;
}